@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <title>فرآیند تایید دستگاه</title>
</head>
<body id="b">

    <!-- Only needed for this Demo -->
    <section class="multi_step_form">
        <form id="msform">
            <!-- Tittle -->
            <div class="tittle">
                <h2>فرآیند تایید دستگاه</h2>
                <p></p>
            </div>

            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">وارد کردن شماره تلفن</li>
                <li class="rtl">وارد کردن IMEI</li>
                <li>آپلود مدارک</li>
            </ul>

            <!-- fieldsets -->
            <fieldset>
                <h3>شماره تلفن خود را وارد کنید</h3>
                <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</h6>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <input type="tel" id="phone" class="form-control" placeholder="+98">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="e.g: 9121234567">
                    </div>
                </div>
                <!-- <button type="button" class="action-button previous previous_button" disabled>بازگشت</button> -->
                <button type="button" class="next action-button" onclick="confirmPhoneNumber()">ادامه</button>
            </fieldset>

            <fieldset>
                <h3 class="rtl">IMEI دستگاه خورد را وارد کنید</h3>
                <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</h6>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        <input type="text" id="imei" class="form-control">
                    </div>
                </div>
                <button type="button" class="action-button previous previous_button">بازگشت</button>
                <button type="button" class="action-button" onclick="confirmIMEI()">ادامه</button>
                <button type="button" class="next" id="IMEIButton"></button>
            </fieldset>

            <fieldset>
                <h3 class="rtl">مدارک مورد نیاز را آپلود کنید</h3>
                <h6>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</h6>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="orderPic_temp" class="custom-file-input" accept=".jpg,.png" id="orderPic_temp">
                        <input type="file" name="nationalCard_temp" class="custom-file-input" accept=".jpg,.png" id="nationalCard_temp">
                        <label class="custom-file-label" for="orderPic_temp"><i class="ion-android-cloud-outline"></i>انتخاب صورت حساب</label>
                        <label class="custom-file-label" for="nationalCard_temp"><i class="ion-android-cloud-outline"></i>انتخاب کارت ملی</label>
                    </div>
                </div>
                <button type="button" class="action-button previous previous_button">بازگشت</button>
                <button type="button" class="next action-button" onclick="sendDocuments()">تایید نهایی</button>
            </fieldset>
        </form>
    </section>
    <form hidden>
        <input type="text" name="phoneNumber" id="finalPhoneNumber">
        <input type="text" name="iMEI" id="finalImei">
        <input type="text" name="nationalCard" id="nationalCard">
        <input type="text" name="orderPic" id="orderPic">
    </form>
    <div class="overlay overlay01" id="overlay">
        <div class="screen" id="successmessage">
            <div class="border-top"></div>

            <svg color="green" width="166" height="150" id="topIcon" viewBox="0 0 76 76" class="success-message__icon icon-checkmark">
                <circle cx="38" cy="38" r="36" fill="#5AE9BA" />
                <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7" />
            </svg>
            <h3>اطلاعات با موفقیت ثبت شد!</h3>
            <p>وضعیت فرآیند با پیامک به شما اطلاع داده می شود.</p>
            <a href="https://kalashar.com" class="btn btn-success btn-md" style="margin-top:55%">بازگشت به سایت</a>
        </div>
        @*<div class="screen" id="errormessage">
                <div class="border-top">
                </div>

                <svg color="green" width="166" height="150" id="topIcon" viewBox="0 0 76 76" class="success-message__icon icon-checkmark">
                    <circle cx="38" cy="38" r="36" fill="#5AE9BA" />
                    <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7" />
                </svg>
                <h3>اطلاعات با موفقیت ثبت شد!</h3>
                <p>وضعیت فرآیند با پیامک به شما اطلاع داده می شود.</p>
            </div>*@
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/common.js"></script>
    <script>
        $("#overlay").hide()

        function confirmPhoneNumber() {
            if ($("#phone").val() != "+98") {

                SendNotification("error", "کد کشور معتبر نمی باشد.");

                fs = false;

                return;
            } else if (!IsPhoneNumberValid("0" + $("#phoneNumber").val())) {

                SendNotification("error", "شماره تلفن همراه معتبر نمی باشد.");

                fs = false;

                return;
            }

            fs = true;

            $("#finalPhoneNumber").val("0" + $("#phoneNumber").val())
        }

        function confirmIMEI() {
            if (!IsIMEIValid($("#imei").val())) {

                SendNotification("error", "IMEI معتبر نمی باشد.");

                fs = false;

                return;
            }

            $.ajax({

                type: "GET",

                url: "/Device/Active/CheckIMEIIsExist?imei=" + $("#imei").val(),

                success: function (response) {
                    if (!response) {
                        fs = false;

                        SendNotification("error", "IMEI موجود نمی باشد.");

                        return;
                    } else {
                        fs = true;

                        $("#finalImei").val($("#imei").val());
                        $("#IMEIButton").click();
                    }
                },
            });
        }

        function sendDocuments() {
            var fdata = new FormData();

            fdata.append($("#nationalCard_temp").get(0).files[0].name, $("#nationalCard_temp").get(0).files[0]);

            fdata.append($("#orderPic_temp").get(0).files[0].name, $("#orderPic_temp").get(0).files[0]);

            fdata.set('model.PhoneNumber', $("#finalPhoneNumber").val());

            fdata.set('model.DeviceIMEI', $("#finalImei").val());

            $.ajax({

                type: "POST",

                url: "/Device/Active/OnConfirm",

                beforeSend: function (xhr) {

                    xhr.setRequestHeader("XSRF-TOKEN",

                        $('input:hidden[name="__RequestVerificationToken"]').val());

                },

                data: fdata,

                contentType: false,

                processData: false,

                success: function (response) {
                    if (response) {
                        $("#overlay").show();

                        setTimeout(function () {
                            location.reload();
                        }, 1000 * 5);
                    } else {
                        SendNotification("error", "خطا در بارگزاری اطلاعات.");
                    }
                },
            });
        }

        $("input[type='file']").on("change", function (e) {

            var count = 1;
            var files = e.currentTarget.files; // puts all files into an array

            console.log(files);

            // call them as such; files[0].size will get you the file size of the 0th file
            for (var x in files) {

                var filesize = ((files[x].size / 1024) / 1024).toFixed(4); // MB

                console.log(files[x].type)
                if (files[x].name != "item" && typeof files[x].name != "undefined" && filesize >= 10) {
                    SendNotification("error", "حجم فایل بیش از حد مجاز است.");
                    return;
                } else if (files[x].name != "item" && typeof files[x].name != "undefined" && !(files[x].type == "image/jpeg" || files[x].type == "image/png")) {
                    SendNotification("error", "فرمت فایل مجاز نیست.");
                    return;
                } else if (files[x].name == "item" && typeof files[x].name == "undefined") {
                    SendNotification("error", "فایل خراب است.");
                    return;
                }
            }
        });
    </script>
</body>
</html>