@{
    ViewData["Title"] = "مدیریت مدارک";
    ViewData["Caption"] = "مدارک را از اینجا مدیریت کنید.";
}
<div class="card">
    <div class="col-sm-12" style="padding:20px">
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
<div class="modal fade" id="detail" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><span id="imeiLabel"></span></h4>
            </div>
            <div class="modal-body text-center">
                <img style="width: 600px; height: 600px; " id="docImage" src="" />
                <input hidden id="docId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="confirmDoc()">تایید مدرک</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="declineDoc()">رد مدرک</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
            //$('#reload').on('click', function () {
            //    loadData();
            //});
        });
        function loadData() {
            $('#viewAll').load('/admin/document/LoadAll');
        }

        function showDoc(id, label, fileName) {
            $("#imeiLabel").html(label);

            $("#docId").val(id);

            $("#docImage").attr("src", "/admin/document/get/" + fileName);

            $("#detail").modal('show');
        }

        function confirmDoc() {
            $.ajax({
                url: "/admin/document/confrimdoc/" + $("#docId").val(),
                success: function (result) {
                    notify.success("عملیات با موفقیت انجام شد.");

                    loadData();
                }
            });

            $("#detail").modal('hide');
        }

        function declineDoc() {
            $.ajax({
                url: "/admin/document/declinedoc/" + $("#docId").val(),
                success: function (result) {
                    notify.success("عملیات با موفقیت انجام شد.");

                    loadData();
                }
            });

            $("#detail").modal('hide');
        }

    </script>
}